@inherits LayoutComponentBase
@implements IDisposable
@inject IMessageService MessageService

<!-- main app container -->
<div class="container text-center my-3">
    @Body
    @foreach (var message in messages)
    {
        <div class="alert alert-sm alert-info">@message</div>
    }
</div>

@code {
    private List<string> messages = new List<string>();
    
    protected override void OnInitialized()
    {
        // subscribe to OnMessage event
        MessageService.OnMessage += MessageHandler;
    }

    public void Dispose()
    {
        // unsubscribe from OnMessage event
        MessageService.OnMessage -= MessageHandler;
    }

    private void MessageHandler(string message)
    {
        if (message != null)
            messages.Add(message);
        else
            messages.Clear();
            
        StateHasChanged();
    }
}